body {
  background-color: midnightblue;
  margin: 0;
}
.title {
  color: #fff;
  text-align: center;
  margin-top: 150px;
}

.desc {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-weight: bold;
}
.desc .InnerText {
  width: auto;
}
.author {
  color: #fff;
  text-align: center;
  font-weight: bold;
}

.food {
  width: 400px;
  height: 150px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 5px;
}

.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #fff;
  height: 70px;
  padding: 20px;
  box-sizing: border-box;
}

.navbar a {
  margin-right: 10px;
  text-decoration: none;
}
